// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";
.pointer{cursor: pointer;}
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
  }
  .basic-container {
    padding: 30px;
  }
  .version-info {
    font-size: 8pt;
    float: right;
}