<div class="container">
  <div class="card">
    <div class="card-header bg-white">
        <div class="media">
            <div class="media-body">
                <h4 class="card-title">Courses</h4>
                <p class="card-subtitle">Your recent courses</p>
            </div>
            <div class="media-right">
                <a class="btn btn-sm btn-primary" href="fixed-student-my-courses.html">My courses</a>
            </div>
        </div>
    </div>
    <ul class="list-group list-group-fit mb-0">
        <li class="list-group-item">
            <div class="media align-items-center">
                <div class="media-body">
                    <a href="fixed-student-take-course.html">LISTENING PRATICE</a>
                </div>
                <div class="media-right">
                    <div class="text-center">
                        <div class="mb-1">
                            <span class="badge badge-pill badge-primary">25%</span>
                        </div>
                        <div class="progress" style="width: 100px;">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="media align-items-center">
                <div class="media-body">
                    <a href="fixed-student-take-course.html">VOCABULARY</a>
                </div>
                <div class="media-right">
                    <div class="text-center">
                        <div class="mb-1">
                            <span class="badge badge-pill badge-success">100%</span>
                        </div>
                        <div class="progress" style="width: 100px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="media align-items-center">
                <div class="media-body">
                    <a href="fixed-student-take-course.html">READING</a>
                </div>
                <div class="media-right">
                    <div class="text-center">
                        <div class="mb-1">
                            <span class="badge badge-pill badge-warning">80%</span>
                        </div>
                        <div class="progress" style="width: 100px;">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>

            </div>
        </li>
    </ul>
</div>
  <div class="card">
    <div class="card-header bg-white">
      <div class="media">
          <div class="media-body">
              <h4 class="card-title">Quizzes</h4>
              <p class="card-subtitle">Your Performance</p>
          </div>
          <div class="media-right">
              <a class="btn btn-sm btn-primary" href="#">Quiz results</a>
          </div>
      </div>
  </div>
  <ul class="list-group list-group-fit mb-0">
      <li class="list-group-item">
          <div class="media align-items-center">
              <div class="media-body">
                  <a href="fixed-student-quiz-results.html">Basic of English</a><br>
                  <small>Course: <a href="fixed-student-take-course.html">Training</a></small>
              </div>
              <div class="media-right text-center">
                  <h4 class="mb-0">5.8</h4>
                  <span class="text-muted-light">Not Good</span>
              </div>
          </div>
      </li>
      <li class="list-group-item">
          <div class="media align-items-center">
              <div class="media-body">
                  <a href="fixed-student-quiz-results.html">Vocabulary</a><br>
                  <small>Course: <a href="fixed-student-take-course.html">Traning</a></small>
              </div>
              <div class="media-right text-center">
                  <h4 class="mb-0 text-success">9.8</h4>
                  <span class="text-muted-light">Great</span>
              </div>
          </div>
      </li>
      <li class="list-group-item">
          <div class="media align-items-center">
              <div class="media-body">
                  <a href="fixed-student-take-quiz.html">Grammar</a><br>
                  <small>Course: <a href="fixed-student-take-course.html">Training</a></small>
              </div>
              <div class="media-right text-center">
                  <h4 class="mb-0 text-danger">2.8</h4>
                  <span class="text-muted-light">Failed</span>
              </div>
          </div>
      </li>
  </ul>
  <div class="card card-stats-primary">
    <div class="card-body">
        <div class="media align-items-center">
            <div class="media-left">
                
            </div>
            <div class="media-body">
                Your subscription ends on <strong>21 February 2019</strong>
            </div>
            <div class="media-right">
                <a class="btn btn-success" href="fixed-student-pay.html">Upgrade</a>
            </div>
        </div>
    </div>
  </div>
</div>